
.App {
text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home{
  text-align: center;
  background: linear-gradient(90deg, rgba(18,18,18,1) 25%, rgba(120,99,3,1) 50%, rgba(20,20,20,1) 63%);
}

.Cplanetas{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(197, 197, 197, 0.1)), url(./assets/img/estrella.jpg);
  background-size: cover;
  margin: 80px 0;
  color: white;
  font-family: 'Starjedi';
  padding: 20px;
  border-radius: 30px 10px 10px 30px;
  max-height: 300px;
  overflow-y: auto;
}

.Cplanetas::-webkit-scrollbar{
  width: 6px;
}

.Cplanetas::-webkit-scrollbar-thumb{
  background-color: rgb(255, 208, 0);
  border-radius: 15px;
}


.Cpersonajes{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(105, 1, 1, 0.1)), url(./assets/img/vaderb.jpg);
  background-size: cover;
  margin: 80px 0;
  color: white;
  font-family: 'Starjedi';
  padding: 25px 40px;
  border-radius: 30px 10px 10px 30px;
  max-height: 300px;
  overflow-y: auto;
}

.Cpersonajes::-webkit-scrollbar{
  width: 7px;
}

.Cpersonajes::-webkit-scrollbar-thumb{
  background-color: rgb(255, 208, 0);
  border-radius: 10px;
}




.Planet{
  background-color: #010211;

}

.Tplanetas{
  margin-top: 100px;
  font-family: 'Starjedi';
  color: white;
}

.Tpersonajes{
  margin-top: 100px;
  font-family: 'Starjedi';
  color: rgb(0, 0, 0);
}

.botonPag{
  background-color: gold;
  border-radius: 10px;
  border: transparent;
  padding: 5px;
  color: white;
  transition: all .5s;
}

.botonPag:hover{
  background-color: transparent;
  border: gold 1px solid;
  color: black;
}


.Gplanet{
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 22% 22% 22%;
  gap: 50px;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(6, 0, 39, 0.1)), url(./assets/img/fondo.jpg);
  background-size: cover;
}


.carousel{
  padding: 30px;
  margin-top: 40px;
}

.carousel img{
height: 400px;
border-radius: 30px;
}


.Text{
  margin-top: 40px;
  color: gold;
  font-family:'Starjedi';
  padding: 18px;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
  background-color: black;
}



.fuerte{
  color: gold;
  text-shadow: 1px 1px rgb(22, 16, 0);
}

@font-face {
  font-family:'Starjedi';
  src: url(./assets/fonts/Starjedi.ttf);
}
